body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

img {
	width: 330px;
	height: 216px;
	border-radius: 5px;
}
input {
	border-radius: 5px;
}
div{
	
	border-radius: 5px;
}